{% extends "page1/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<body background="/static/login.jpg" id = "bg" style="background-repeat:no-repeat; background-size:cover; height: auto;">
				<div class="card card-4" style="width:40%;margin-left:350px;margin-top:50px;border-radius:20px;">
					<div class="card-body" style="margin-left:60px;">
						<div class="content-section" style="background-image:/static/login.jpg;">

							<form method="POST">

								{% csrf_token %}
								<fieldset class="form-group">
									<span style="font-size:26px;margin-left:150px;">Reset Password</span>
									<div style="width:90%;">
									    {{ form|crispy }}
									</div>

								</fieldset>

								<div class="form-group">
									<button class="btn btn-outline-info" type="submit">Reset Password</button>
								</div>
							</form>

						</div>
					</div>
				</div>


{% endblock content %}