{% extends "page1/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="" style="padding-top:0px;">
    <ol class="breadcrumb" style="background: transparent; font-size:12px;">
    <li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li>
        <li class="breadcrumb-item"><a href="{% url 'password_reset' %}">Password_reset</a></li>
    <li class="breadcrumb-item active" aria-current="page">Reset Password complete</li>
  </ol>
<div class="container" style="padding:20px;">
    <div class="alert alert-info">
        <p style="font-size:22px;">Password reset complete</p>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'login' %}" style="text-decoration:none;font-size:16px;color:#0C548F;">Log In</a>
    </div>


</div>
</div>
{% endblock content %}