{% extends "page1/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<style>
.style-table > thead > tr >th{
    color: #FFFFFF;
    background-color: black;
    }
</style>
<div class="" style="padding-top:0px;">
    <ol class="breadcrumb" style="background: transparent; font-size:14px; font-weight:700;">
    <li class="breadcrumb-item"><a href="{% url 'project-home' %}" style="text-decoration:none">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Student Teacher-wise Report</li>
  </ol>
    <div class="container" style="border-radius:5px;"><br>
        <div class="card" style="border-radius:5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-body" style="padding: 25px;">
        <div class="form-row" style="padding:10px;text-align:center;">
            <span style="font-size:20px;">Select Class Name : </span>&emsp;
            <div style="position:relative;">
               <form action="/teacherreport" method="post">
                  {% csrf_token %}
                  <select name="student_teacher_assigned" id="student_teacher_assigned" onchange="this.form.submit();" style="border:none;-webkit-appearance: menulist;width:100%;margin-top:7px;">
                  <option>Teacher Name</option>
                     {% for i in student_teacher %}
                        <option value='{{ i }}' name="student_teacher_assigned">{{ i }}</option>
                           {% endfor %}
                  </select>
               </form>
            </div>
        </div>

        {% if class_type == "teacher_type" %}
            <div class="form-row" style="padding:5px;">
                <div style="">{% for i in student_teacher_name %}Teacher Name : {{ i|title }}{% endfor %}</div>
            </div><br>
            <div style="overflow:auto;">
            <table id="dtBasicExample" class="table table-bordered table-hover table-sm style-table" cellspacing="20" style="background-color:#FFFFFF;">
                <thead>
                    <tr>
                        <th>
                            Admission No.
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            Date of Birth
                        </th>
                        <th>
                            Age
                        </th>
                        <th>
                            Class Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in student_details %}
                    <tr>
                        <td>{{ i.admission_number }}</td>
                        <td>{{ i.first_name|title }} {{i.last_name|title}}</td>
                        <td>{{ i.student_birthday }}</td>
                        <td>{{ i.age }}</td>
                        <td>{{ i.class1 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        {% endif %}
        </div>
    </div>
    </div>
</div>
{% endif %}
{% endblock %}