{% extends "page1/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<style>
.style-table > thead > tr >th{
    color: #FFFFFF;
    background-color: black;
    }
</style>
<div class="" style="padding-top:0px;">
    <ol class="breadcrumb" style="background: transparent; font-size:14px; font-weight:700;">
    <li class="breadcrumb-item"><a href="{% url 'project-home' %}" style="text-decoration:none">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Student Details Report</li>
  </ol>
    <div class="container" style="background-color:#FFFFFF; height:100%;"><br>

        <div class="form-row" style="padding:10px;text-align:center;">
            <span style="font-size:20px;">Select Admission Number : </span>&emsp;

                <form action="/student_report" method="POST">
                {% csrf_token %}

                 <!--
                <input id="student" name="student" type="text" class="query-search"x
                placeholder="Search..."><br><br>
                -->
                <input class="btn btn-primary" type="submit" value="Generate pdf">
                </form>
        </div>
                <table id="dtBasicExample" class="table table-bordered table-hover table-sm style-table" cellspacing="20" style="background-color:#FFFFFF;">
                <thead>
                    <tr>
                        <th>
                            Admission No.
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            Date of Birth
                        </th>
                        <th>
                            Age
                        </th>
                        <th>
                            Date of Join
                        </th>
                        <th>
                            Disability
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in student_details %}
                    <tr>
                        <td>{{ i.admission_number }}</td>
                        <td>{{ i.first_name|title }} {{i.last_name|title}}</td>
                        <td>{{ i.student_birthday }}</td>
                        <td>{{ i.age }}</td>
                        <td>{{ i.date_of_join }}</td>
                        <td>{{ i.disability }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


    </div>
</div>

{% endif %}

{% endblock %}
